body{
	margin: 0;
	padding: 0;
}
a{
	color: black;
	text-decoration: none;
}
nav{
	display: flex;
	justify-content: space-around;
	width: 20%;
	float: right;
}
nav img{
	height: 25px;
}
main{
	width: 50%;
	margin: auto;
	text-align: center;
}
input{
	margin-top:1em;
	width: 80%;
	padding: 1em;
	border: 1px solid grey;
	border-radius: 10px;
}

.btn{
	margin-top:1em;
}
.btn button{
	padding: 1em;
	border: none;
}
.space{
	height: 150px;
}
.footer_top{
	float: right;	
}
.footer_bottom{
	float: left;
}